  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body {
  margin: 0;
  overflow-y: auto;
  background-color: #F2F7FF;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
  } 

  .sidebar-brand-logo {
    display: flex;
    justify-content: center;
  }
  .supernova-icon {
    height: 100px;
    margin-bottom: 2em;
  }
  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    color: #7C8DB5  ;
    padding: 1rem 1rem 1rem;
    position: relative;
  }
  .sidebar-header {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-bottom: 10%;
  }

  .sidebar-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6em;
    border-radius: 5%;
  }

  .sidebar-icons{
    font-size: 1.25em;
  }

  .sidebar-item {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 5%;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
}
  .second-ul{
    padding: 3rem 1.5rem 0.5rem 0rem;
    border-radius: 5%;
    cursor: pointer;
  }
  .sidebar-list :hover{
    background-color: #e4e4ec;
  }
  .second-ul :hover {
    background-color: #e4e4ec;
  }
  

  .main-content {
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 1fr;
  padding: 2rem 2rem 2rem;
  }
  
  .header {
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #F2F7FF;
  }
  
  .cards-header {
    height: 8em;
    width: 18em;
    background: #FFFFFF;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
  }


  .profile-card {
    width: 26%;
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
  }
  .friend-profile-card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-bottom: 5%;

  }

  .content {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .big-card1 {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 3%;
  }
  .big-card1 h1 {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;
    color: #25396f;
  }
  .messages-card {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    background: #FFFFFF;
    border-radius: 15px;
  }
  .big-card3 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 4%
  }
  .card3-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card3-header{
    padding: 15px;
  }
  .card3-header p1{
    font-family: 'Nunito', 'sans-serif';
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;
    color: #25396f;
  }
  .row{  
    position: relative;
    padding: 15px;
  }
  .row-chart{
    max-height: 50px;
  }
  .chart-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .apexcharts-toolbar {
    display: none;
  }
  
  .big-card4 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    background: #FFFFFF;
    font-family: 'Nunito', 'Sans-Serif';
    border-radius: 15px;
    padding: 3%
  }
  .big-card4 h1 {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;
    padding: 3%;
    color: #25396f;
  }
  .card4-body table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .card4-body th,
  .card4-body td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .card4-body th {
    text-align: left;
    font-weight: 600;
  }
  
  .card4-body img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .card4-body .nickname {
    font-weight: 600;
  }
  
  .card4-body .comment-text {
    margin-top: 5px;
  }
  
  .big-card5 {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 3%
  }
  .big-card5 h1 {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;
    padding: 3%;
    color: #25396f;
  }
  .big-card5 .card-body{
    height: 90%;
    display: flex;
    place-items: center;
  }
  .icons-header{
    font-size: 2.5em;
    padding-right: 4rem;
  }
  .profile-icon{
    color: #9694FF;
  }
  .followers-icon{
    color: #5DDAB4;
  }
  .following-icon{
    color: #eb5790;
  }
  .saved-posts-icon{
    color: #f36147;
  }
  
  .profile-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .name-display {
    padding-left: 8%;
    width: 50%;
  }
  .name-display h1 {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;
    padding: 3%;
    color: #25396f;
  }

  .name-display p {
    font-family: 'Nunito', sans-serif;
    color: #7C8DB5;
    font-size: medium;
    font-weight: 700;
  }

  h1 {
    font-family: 'Nunito', sans-serif;
    color: #7C8DB5;
    font-size: medium;
    font-weight: 700;
    padding-bottom: 0.3rem;
  }
  
  p{
    font-family: 'Nunito', sans-serif;
    color: #312f2f;
    font-weight: 700;
    padding-top: 0.2rem;
  }
  
  p1{
    font-family: 'Nunito', sans-serif;
    color: #25396f;
    font-weight: 600;
    line-height: 24px;
    size: 16px;
    padding-left: 0.8rem;
  }

  .friend-column {
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 90%;
    width: 60%;
  }

  .messages-card h1{
    font-family: 'Nunito', 'sans-serif';
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;
    padding: 5%;
    color: #25396f;
  }

  .send-message-btn{
    width: 160%;
    margin-left: 10%;
    margin-top: 15%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #fefeff;
    color: #1E3471;
    border: #1E3471 2px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  .send-message-btn:hover{
    background-color: #1E3471;
    color:  #fefeff;;
    border: #fefeff 2px solid;
  }

  @media (max-width: 650px) {
    .sidebar {
      display: none;
    }
    .content {
      grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    }
    .cards-header {
      flex-wrap: wrap;
      width: 49%;
      height: 50%;
      display: flex;
      padding: 5%;

    }
    .header {
      flex: 0 0 auto;
      width: 60%;
    }
    .profile-card {
      display: none;
    }
    .big-card1 {
      flex: 0 0 auto;
      height: 30%;
      width: 75%;
      margin-top: 2%;
      display: flex;
      flex-direction: column;
    }
    .big-card1 h1{
      padding-bottom: 10%;
      padding-top: 2%;
      display: flex;
      justify-content: center;
    }
    .messages-card {
      flex: 0 0 auto;
      width: 155%;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      margin-top: 60%;
      display: flex;
      flex-direction: column;
    }
    .messages-card h1{
      align-self: center;
      padding-top: 6%;
    }
    .big-card3{
      grid-column: 1 / 4;
    }
  }
 